{% extends 'base_o_info.html' %}

{% block content %}

{% if special_message %}
    <h1>{{ special_message }} ;)</h1>

{% else %}
    <h1> {{title}} </h1>

    {% for cource in cources %}
    <p>{{ cource.c_title }}</p>
    <p>{{ cource.c_description }}</p>
    <p>{{ cource.c_type }}</p>
    <p>{{ cource.c_prize }}</p>
    <p>{{ cource.c_addeting_files }}</p>
    <p>{{ cource.c_files }}</p>
    <p>{{ cource.c_pay_choices }}</p>
    {% endfor %}
{% endif %}


<div class="new_group">
    <h1>Створити Курс</h1>
    <form method="post" href="{% url 'courceszone_sys:ncource' %}">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Це автоматично згенерує випадаючий список для c_type -->
        <button type="submit">Зберегти</button>
    </form>
</div>

{% endblock %} 