{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Matrix Auth{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/jpg" href="{% static 'logo/favicon.jpg' %}">  
</head>
<body>
    <nav>
        <div class="wrapper">
            <div class="logo">
                <a href="{% url 'index' %}">Logo</a>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'projectszone_sys:projects' %}">Project</a></li>
                <li class="mobile-item"><a href="{% url 'photozone_sys:photos' %}">Photos</a></li>
                <li class="mobile-item"><a href="{% url 'audiozone_sys:music' %}">Music</a></li>
                <li class="mobile-item"><a href="{% url 'videozone_sys:short-video' %}">Video</a></li>
            </ul>
            <div class="btn">
                <input type="checkbox" id="menu-btn">
                <label for="menu-btn" class="menu-btn">☰</label>
            </div>
        </div>
    </nav>

    <div class="top-panel">
        <div class="left-section">
            <a href="{% url 'index' %}">
                <button class="panel-button"><b>Головна</b></button>
            </a>
        </div>
    
        <div class="center-section">
            <div class="dropdown">
                <input type="checkbox" id="toggle-photos" class="dropdown-toggle">
                <label for="toggle-photos" class="panel-button dropdown-label">
                    <b>Photos</b>
                    <span class="arrow">▼</span>
                </label>
                <div class="dropdown-menu">
                    <a href="{% url 'photozone_sys:photos' %}"><button class="small-button">Photos</button></a>
                    <a href="{% url 'photozone_sys:images' %}"><button class="small-button">Images</button></a>
                </div>
            </div>             
            <div class="dropdown">
                <input type="checkbox" id="toggle-music" class="dropdown-toggle">
                <label for="toggle-music" class="panel-button dropdown-label">
                    <b>Music</b>
                    <span class="arrow">▼</span>
                </label>
                <div class="dropdown-menu">
                    <a href="{% url 'audiozone_sys:music' %}"><button class="small-button">Music</button></a>
                    <a href="{% url 'audiozone_sys:audio' %}"><button class="small-button">Audio</button></a>
                </div>
            </div>
            <div class="dropdown">
                <input type="checkbox" id="toggle-video" class="dropdown-toggle">
                <label for="toggle-video" class="panel-button dropdown-label">
                    <b>Video</b>
                    <span class="arrow">▼</span>
                </label>
                <div class="dropdown-menu">
                    <a href="{% url 'videozone_sys:short-video' %}"><button class="small-button">Короткі</button></a>
                    <a href="{% url 'videozone_sys:long-video' %}"><button class="small-button">Довгі</button></a>
                </div>
            </div>
        </div>
    
        <div class="right-section">
            {% if not request.user.is_authenticated %}
                <a href="{% url 'auth_sys:login' %}" class="login-button"><b>Вхід</b></a>
                <a href="{% url 'auth_sys:registration' %}" class="register-button"><b>Реєстрація</b></a>
            {% else %}
                <div class="profile-dropdown">
                    <div class="user-field dropdown-toggle">
                        <img src="" alt="avatar" class="avatar">
                        <div class="user-name">{{ request.user.username }}</div>
                    </div>
                    <div class="profile-dropdown-menu">
                        <a href="" class="dropdown-item">
                            <img src="" alt="avatar" class="small-avatar">
                            Мій профіль
                        </a>
                        <div class="dropdown-divider"></div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    
    {% block content %}
    {% endblock %}

    <div class="base-end-div">
        <p class="base-end">Привіт! Дякую, за використання нашого веб додатку.</p>
        <p class="base-end">Ми з України і раді бачити тебе в нас. Якщо ми тобі цікаві, ти можеш знайти нас</p>
        <p class="base-src">Matrix:</p>
        <p class="base-src">TikTok:</p>
        <p class="base-src">YouTube:</p>
        <p class="base-src">Drykarnya:</p>
        <p class="base-src">GitHub:</p>
    </div>
        
</body>
</html>
