<!DOCTYPE html>
<html lang="en" >
<head>
  {% load static %}
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'><link rel="stylesheet" href="./style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Matrix Auth{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="icon" type="image/jpg" href="{% static 'logo/favicon.jpg' %}">  
</head>
<body>
<!-- partial:index.partial.html -->
<nav>
  <div class="wrapper">
    <div class="logo"><a href="#">VanillaSM</a></div>
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">
    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
      <li>
        <a href="#" class="desktop-item">Zones1</a>
        <input type="checkbox" id="showDrop">
        <label for="showDrop" class="mobile-item">Dropdown Menu</label>
        <ul class="drop-menu">
          <li><a href="#">Projects</a></li>
          <li><a href="#">Drop menu 2</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="desktop-item">Zones2</a>
        <input type="checkbox" id="showMega">
        <label for="showMega" class="mobile-item">Zones2</label>
        <div class="mega-box">
          <div class="content">
            <div class="row">
              <img src="https://fadzrinmadu.github.io/hosted-assets/responsive-mega-menu-and-dropdown-menu-using-only-html-and-css/img.jpg" alt="">
            </div>
            <div class="row">
              <header>Audio</header>
              <ul class="mega-links">
                <li><a href="{% url 'audiozone_sys:audio' %}">Audio</a></li>
                <li><a href="{% url 'audiozone_sys:music' %}">Music</a></li>
              </ul>
            </div>
            <div class="row">
              <header>Video</header>
              <ul class="mega-links">
                <li><a href="{% url 'videozone_sys:short-video' %}">Short</a></li>
                <li><a href="{% url 'videozone_sys:long-video' %}">Long</a></li>
              </ul>
            </div>
            <div class="row">
              <header>Photo</header>
              <ul class="mega-links">
                <li><a href="{% url 'photozone_sys:photos' %}"">Posts</a></li>
                <li><a href="{% url 'photozone_sys:images' %}">Designs</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="#" class="desktop-item">Accounts</a>
        <input type="checkbox" id="showAccounts">
        <label for="showAccounts" class="mobile-item">Accounts</label>
        <ul class="drop-menu">
          {% for account in user.smuser_set.all %}
          <li><a href="{% url 'switch_account' account.id %}">{{ account.display_name }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li><a href="#">Feedback</a></li>
    </ul>
    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav>

<div class="body-text">
  {% block content %}
  {% endblock %}
</div>




<footer>
  <div class="footer-top">
    <div class="pt-exebar">

    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 footer-col-3">
          <div class="widget footer_widget">
            <h5 class="footer-title">Address</h5>
            <div class="gem-contacts">
              <div class="gem-contacts-item gem-contacts-address">Corporate Office :<br> Doon House, B-275(A), First floor
                Sector-57, Shushant Lok 3
                Near Hong Kong Bazzar, Gurugram Pin 122001, Haryana.
              </div>
              <div class="gem-contacts-item gem-contacts-phone"><i class="fa fa-phone" aria-hidden="true"></i> Phone: <a href="">+91-9122588799</a></div>

              <div class="gem-contacts-item gem-contacts-address mt-2">Reg. Office :<br> Doon House, D2/3,
                4th Floor, Chandra Tower, IDBI Bank Building
                Dimna Road, Mango, Jamshedpur-831012, Jharkhand.</div>
              <div class="gem-contacts-item gem-contacts-phone"><i class="fa fa-phone" aria-hidden="true"></i> Phone: <a>+91 9122588799</a></div>

            </div>
          </div>

        </div>
        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
          <div class="row">
            <div class="col-6 col-lg-6 col-md-6 col-sm-6">
              <div class="widget footer_widget">
                <h5 class="footer-title">Recent News</h5>
                <ul class="posts  styled">
                  <li class="clearfix gem-pp-posts">
                    <div class="gem-pp-posts-text">
                      <div class="gem-pp-posts-item">
                        <a href="#">Want to start Your Own Play School.
                        </a>
                      </div>
                      <div class="gem-pp-posts-date">Call +91-9122588799</div>
                    </div>
                  </li>
                  <li class="clearfix gem-pp-posts">
                    <div class="gem-pp-posts-text">
                      <div class="gem-pp-posts-item">
                        <a href="#">Now we are in Faridabad,Now we are in DaudNagar.
                        </a>
                      </div>
                      <div class="gem-pp-posts-date">Call +91-9122588799, +91-9122588799</div>
                    </div>
                  </li>
                  <li class="clearfix gem-pp-posts">
                    <div class="gem-pp-posts-text">
                      <div class="gem-pp-posts-item">
                        <a href="">Now we are in Ranchi, Admission open
                        </a>
                      </div>
                      <div class="gem-pp-posts-date">Call +91-9122588799, +91-9122588799</div>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
            <div class="col-6 col-lg-6 col-md-6 col-sm-6">
              <div class="widget">
                <h5 class="footer-title">Email Us</h5>
                <div class="textwidget">
                  <div role="form" class="wpcf7" id="wpcf7-f4-o1" lang="en-US" dir="ltr">

                    <form method="post" class="wpcf7-form" novalidate="novalidate">

                      <div class="contact-form-footer">
                        <p><span class="wpcf7-form-control-wrap your-first-name"><input type="text" name="your-first-name" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Your name"></span></p>
                        <p><span class="wpcf7-form-control-wrap your-email_1"><input type="email" name="your-email_1" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email" aria-invalid="false" placeholder="Your email"></span></p>
                        <p><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Your message"></textarea></span></p>
                        <div><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span></div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-md-5 col-sm-12 footer-col-4">
          <div class="widget widget_gallery gallery-grid-4">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <div class="footer-site-info">2020 © <a href="https://www.youtube.com/watch?v=pdr4IzBpacI&t=34s" target="_blank">Top HTML & CSS Program </a></div>
        </div>

        <div class="col-md-6">
          <nav id="footer-navigation" class="site-navigation footer-navigation centered-box" role="navigation">
            <ul id="footer-menu" class="nav-menu styled clearfix inline-inside">
              <li id="menu-item-26" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26"><a href="#">Support</a></li>
              <li id="menu-item-27" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-27"><a href="#">Contact Us</a></li>
              <li id="menu-item-28" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28"><a href="#">Disclaimer</a></li>
              <li id="menu-item-29" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-29"><a href="#">Add more</a></li>
            </ul>
          </nav>
        </div>

        <div class="col-md-3">
          <div id="footer-socials">
            <div class="socials inline-inside socials-colored">

              <a href="#" target="_blank" title="Facebook" class="socials-item">
                <i class="fab fa-facebook-f facebook"></i>
              </a>
              <a href="#" target="_blank" title="Twitter" class="socials-item">
                <i class="fab fa-twitter twitter"></i>

              </a>
              <a href="#" target="_blank" title="Instagram" class="socials-item">
                <i class="fab fa-instagram instagram"></i>
              </a>
              <a href="#" target="_blank" title="YouTube" class="socials-item">
                <i class="fab fa-youtube youtube"></i>
              </a>
              <a href="#" target="_blank" title="Telegram" class="socials-item">
                <i class="fab fa-telegram telegram"></i>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://daniellaharel.com/raindrops/js/raindrops.js"></script>

<script> jQuery('#waterdrop').raindrops({color:'#1c1f2f', canvasHeight:150, density: 0.1, frequency: 20});
</script>
</body>
</html>