{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Matrix Auth{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
</head>
<body>
    <div class="top-panel">
        <!-- Левая секция -->
        <div class="left-section">
            <a href="{% url 'index' %}">
                <button class="panel-button"><b>Головна</b></button>
            </a>
        </div>
    
        <!-- Центральная секция -->
        <div class="center-section">
            <a href="">
                <button class="panel-button">Project</button>
            </a>

            <div class="dropdown">
                <input type="checkbox" id="toggle" class="dropdown-toggle">
                <label for="toggle" class="panel-button dropdown-label">
                    <b>Photos</b>
                    <span class="arrow">▼</span>
                </label>
                <div class="dropdown-menu">
                    <a href=""><button class="small-button">World</button></a>
                    <a href=""><button class="small-button">Work</button></a>
                </div>
            </div>             
            <div class="dropdown">
                <input type="checkbox" id="toggle" class="dropdown-toggle">
                <label for="toggle" class="panel-button dropdown-label">
                    <b>Music</b>
                    <span class="arrow">▼</span>
                </label>
                <div class="dropdown-menu">
                    <a href=""><button class="small-button">Music</button></a>
                    <a href=""><button class="small-button">Audio</button></a>
                </div>
            </div>
            <div class="dropdown">
                <input type="checkbox" id="toggle" class="dropdown-toggle">
                <label for="toggle" class="panel-button dropdown-label">
                    <b>Video</b>
                    <span class="arrow">▼</span>
                </label>
                <div class="dropdown-menu">
                    <a href=""><button class="small-button">Long</button></a>
                    <a href=""><button class="small-button">Short</button></a>
                </div>
            </div>
        </div>
    
        <!-- Правая секция -->
        <div class="right-section">
            {% if not request.user.is_authenticated %}
                <a href="{% url 'auth_sys:login' %}" class="login-button"><b>Вхід</b></a>
                <a href="{% url 'auth_sys:registration' %}" class="register-button"><b>Реєстрація</b></a>
            {% else %}
                <div class="profile-dropdown">
                    <div class="user-field dropdown-toggle">
                        <img src="" alt="avatar" class="avatar">
                        <div class="user-name">{{ request.user.username }}</div>
                    </div>
                    <div class="profile-dropdown-menu">
                        <a href="" class="dropdown-item">
                            <img src="" alt="avatar" class="small-avatar">
                            Мій профіль
                        </a>
                        <div class="dropdown-divider"></div>
                        
                        <div class="dropdown-divider"></div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    
    {% block content %}
    {% endblock %}

    <div class="base-end-div">
        <p class="base-end">Привіт! Дякую, за використання нашого веб додатку.</p>
        <p class="base-end">Ми з України і раді бачити тебе в нас. Якщо ми тобі цікаві, ти можеш знайти нас</p>
        <p class="base-src">Matrix:</p>
        <p class="base-src">TikTok:</p>
        <p class="base-src">YouTube:</p>
        <p class="base-src">Drykarnya:</p>
        <p class="base-src">GitHub:</p>
    </div>
        
</body>
</html>
