<!DOCTYPE html>
<html lang="en" >
<head>
  {% load static %}
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'><link rel="stylesheet" href="./style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Matrix Auth{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <link rel="icon" type="image/jpg" href="{% static 'logo/favicon.jpg' %}">  
</head>
<body>
<!-- partial:index.partial.html -->
<nav>
  <div class="wrapper">
    <div class="logo"><a href="#">Logo</a></div>
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">
    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li>
        <a href="#" class="desktop-item">Zones1</a>
        <input type="checkbox" id="showDrop">
        <label for="showDrop" class="mobile-item">Dropdown Menu</label>
        <ul class="drop-menu">
          <li><a href="#">Projects</a></li>
          <li><a href="#">Drop menu 2</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="desktop-item">Zones2</a>
        <input type="checkbox" id="showMega">
        <label for="showMega" class="mobile-item">Zones2</label>
        <div class="mega-box">
          <div class="content">
            <div class="row">
              <img src="https://fadzrinmadu.github.io/hosted-assets/responsive-mega-menu-and-dropdown-menu-using-only-html-and-css/img.jpg" alt="">
            </div>
            <div class="row">
              <header>Audio</header>
              <ul class="mega-links">
                <li><a href="#">Audio</a></li>
                <li><a href="#">Music</a></li>
              </ul>
            </div>
            <div class="row">
              <header>Video</header>
              <ul class="mega-links">
                <li><a href="#">Short</a></li>
                <li><a href="#">Long</a></li>
              </ul>
            </div>
            <div class="row">
              <header>Photo</header>
              <ul class="mega-links">
                <li><a href="#">Posts</a></li>
                <li><a href="#">Designs</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="#" class="desktop-item">Accounts</a>
        <input type="checkbox" id="showAccounts">
        <label for="showAccounts" class="mobile-item">Accounts</label>
        <ul class="drop-menu">
          {% for account in user.smuser_set.all %}
          <li><a href="{% url 'switch_account' account.id %}">{{ account.display_name }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li><a href="#">Feedback</a></li>
    </ul>
    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav>

<div class="body-text">
  <div class="title">Responsive Dropdown and Zones2</div>
  <div class="sub-title">using only HTML & CSS</div>
</div>
<!-- partial -->
  
</body>
</html>